.container .navbar-container{
    padding: 30px 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(16, 16, 30, 0.65); */
    backdrop-filter: blur(10px);
    align-items: center;
    user-select: none;
    position: sticky;
    z-index: 1000;
    overflow: hidden;
    
}



.navbar-container img{
    width: 110px ;
    
 }

 .navbar-container ul{
    display: flex;
   
    align-items: center;
   
 }

 .navbar-container ul li {
    list-style: none;
    margin: 0px 30px ;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 27.836px; /* 139.182% */
    letter-spacing: -0.4px;
    transition: 0.3s;
    display: block;
    position: relative;
    transition: transform 0.2s ease-in-out;
    
   
    
 }

 .navbar-container a{
    text-decoration: none;
 }


.navbar-container li::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #DBFF00;
    display: block;
    border-radius: 2px;
    position: absolute;
    bottom: -8px;
    left: 0px;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

}

.navbar-container li:hover::after{
    opacity: 1;
    transform: scaleX(1);

}

.menu .button{
    color: black;
    flex-shrink: 0;
    border-radius: 41px;
    background: #DBFF00;
    padding: 5px 12px;
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 27.836px; /* 139.182% */
    letter-spacing: -0.4px;
    margin-left: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
    border: 1px solid #DBFF00;
    cursor: pointer;
 }




.menu .button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid #DBFF00;
    transition:  0.2s ease-in-out;
    transform: scaleX(1);
}

.navbar-collaps-befor{
    display: none;

}

.navbar-collaps-after{
    display: none;
}


@media screen and (max-width:720px){
    .container .navbar-container{
        padding: 30px 20px;
        color: white;
        justify-content: space-between;
        display: flex;
        align-items: flex-start;
        height: max-content;
        position: absolute;
        width: 100%;
        backdrop-filter: blur(0);
        
        
    }
    .navbar-container .nav-menu{
        display: none;
    }
    .navbar-container .nav-links{
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid #0F2F76;
        opacity: 0.9;
        background: #0F172A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 30px 20px;
        gap: 30px;
        margin-right: 60px;
        align-items: center;
        transition: 0.3s;
        right: 30px;
    
    }

    .navbar-container .button{
        margin: 0px;
    }



    .navbar-collaps-befor .menu-icon-open{
        width: 30px;
        height: 1.5px;
        background-color: white;
        /* display: none; */
        cursor: pointer;
    }

    .navbar-collaps-befor{
        
        display: flex;
        flex-direction: column;
        gap: 7px;
        right: 40px;
        position: absolute;
        margin-top: 10px;
        cursor: pointer;
        
    }
    
    .menu-close{
        display: none;
    }

    .navbar-collaps-after .menu-icon-open-slop{
        width: 30px;
        height: 1.5px;
        background-color: white;
        
        

    }

    #slop1{
        transform: rotate(220deg);
        margin: -4px;
    }

    #slop2{
        transform: rotate(-220deg);
        margin: -5px;
    }

    .navbar-collaps-after{
        display: flex;
        right: 40px;
        flex-direction: column;
        gap: 7px;
        margin-top: 22px;
        margin-right: 5px;
        cursor: pointer;
        position: absolute;
    }
    
}
 

 
