.footer-container{

   padding: 5px 150px;
   margin-top: 20px;
   position: absolute;
   background-color: rgba(0, 0, 52, 0.552);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-container p{
    font-size: 13px;
    font-weight: 100;
    opacity: 0.5;
}


.social-media{
    display: flex;
    z-index: 1000;
    /* position: relative; */
    color: black;
    gap: 20px;
    
}
 .social-media a{
    font-size: 17.105px;
    font-style: normal;
    font-weight: 500;
    line-height: 41.932px; /* 189.692% */
    letter-spacing: -0.553px;
    border: none;
    transition: 0.5s;
    text-decoration: none;
    
    
}

.social-media a:hover{
     transition: 0.5s;
     cursor: pointer;
     transform: scale(1) translateY(-8px)
  

}

.social-media .twitter:hover {
    color:#1DA1F2 ;
}

.social-media .facebook:hover{
    color: #1877F2;
}

.social-media .insta:hover{
    color: rgb(240, 51, 114); 
    
}

.social-media .linkedin:hover{
    color: #0077b5;
}

.social-media .git:hover{
    color: rgb(80, 80, 80);
}


@media screen and (max-width:720px){
    .footer-container{
        padding: 10px 10px ;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .social-media a{
        font-size: 15px;
    }
}

